.custom-modal {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: fade-from-top 0.35s ease-out;
    
}


.custom-modal__backdrop {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.749);
}
.custom-modal__content {
    position: relative;
    max-height: 95vh;
    overflow-y: auto;
    background-color: var(--dark-lighter);
    border-radius: 16px;
}

.custom-modal__content-header {
    display: flex;
    justify-content: end;
    padding: 0;
    padding-right: 24px;
    padding-top: 16px;
    
    
}

.custom-modal__content-header__btn-close {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--gray-medium);
}

@keyframes fade-from-down {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}