@import url("./variables.css");
@import url("./animations.css");
@import url("./buttons.css");
@import url("./movies/movie-filters");

body {
    background-color: var(--dark);
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-lighter2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.footer {
    text-align: center;
    padding: 16px 0;
    background-color: var(--dark2)
}

.footer__text {
    color: var(--gray-medium);
    margin: 0;
    font-size: 14px;
}
