@import url("./variables.css");
@import url("./animations.css");
@import url("./buttons.css");
@import url("./movies/movie-filters");

body {
    background-color: var(--dark);
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-lighter2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

main {
    min-height: calc(100vh - 72px); /* Calculating the full viewport height minus the footer's height */
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 0;
    text-align: center;
    height: 72px;
    background-color: var(--dark2)
}

.footer__text {
    color: var(--gray-medium);
    margin: 0;
    font-size: 14px;
}
