:root {
    --green-light: #00ba98;
    --green-medium: #009575;
    --green-dark: #007154;
    --dark: #0d1416;
    --dark-lighter: #19282b;
    --dark2: #0c0c0f;
    --gray-light: #e4edeb; 
    --gray-medium: #a6acac; 
    --gray-dark: #7a8080; 
    --red-light: #b43935;
}