:root {
    --green-light: #00ba98;
    --green-medium: #009575;
    --green-dark: #007154;
    --blue-light: #008fba;
    --blue-medium: #006b95;
    --blue-dark: #004d71;
    --dark: #0d1416;
    --dark2: #0c0c0f;
    --dark-lighter: #162325;
    --dark-lighter2:#223a3d;
    --gray-light: #e4edeb; 
    --gray-medium: #a6acac; 
    --gray-dark: #7a8080; 
    --red-light: #e75c57;
    --red-medium: #b43935;
    --yellow-light: #d9e757;
    --yellow-medium: #c5c32d;
}